<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :submission_user_id %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.number_field :question_id, id: :submission_question_id %>
  </div>

  <div class="field">
    <%= form.label :answer_id %>
    <%= form.number_field :answer_id, id: :submission_answer_id %>
  </div>

  <div class="field">
    <%= form.label :time_taken %>
    <%= form.text_field :time_taken, id: :submission_time_taken %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
